<div id="siteContainer" class="site-container">
  <header class="header-s js-header ghost -wrap">
    <div class="ghost__child -full -text--right">
      <div class="header__icon -column nv-icon" (click)="goHome()">
        <img width="150px" src="./assets/images/MASTER_logo.png" alt="">
      </div>
    </div>
  </header>

  <div *ngIf="!surveyComplete" class="section-survey -theme--light">

    <div class="survey-header -pad-20">
      <p>survey</p>
    </div>
    <div class="survey-container">

      <div class="media-display-wrapper -pad-20">
        <div class="media-label">
          First, look at these photos of this apartment:
        </div>

        <div class="photos-container">
          <div class="presented-photo-wrapper -full">
            <div class="photo-left" (click)="presentPreviousPhoto()">
            </div>
            <div class="photo-right" (click)="presentNextPhoto()">
            </div>
            <img class="presented-photo -full" src="{{presentedPhoto}}" alt="">
          </div>
          <div class="apt-photo-wrapper" *ngFor="let aptPhoto of apartmentPhotos">
            <img on-mouseover='over(aptPhoto)' class="apt-photo" src="{{aptPhoto}}" alt="">
          </div>
        </div>
      </div>

      <div class="media-display-wrapper -pad-20" style="margin-bottom: 50px;">

        <div class="media-label">
          Now, watch this video of the same apartment:
        </div>
        <div class="video-wrapper">
          <iframe src="https://www.youtube.com/embed/nQM-LJuPooY?rel=0&amp;showinfo=0" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="question-one -q-container">
        <div class="-pad-20 -grey -font-12">
          1/5
        </div>
        <div class="-q-body -pad-20">
          {{q1}}
        </div>

        <div class="slider-wrapper -pad-20">
          <div class="slider-numbers-wrapper">
            <div *ngFor="let number of toTen">{{number}}</div>
          </div>
          <div class="slider-input-wrapper">
            <input type="range" min="1" max="100" [(ngModel)]="surveyPackage.answers[0]" class="slider">
          </div>
          <div class="slider-labels-wrapper">
            <div class="slider-label -left-label">
              These photos would be enough
            </div>
            <div class="slider-label -center-label">
              This video would help me decide
            </div>
            <div class="slider-label -right-label">
              This video increased my interest
            </div>
          </div>
        </div>
      </div>

      <div class="question-two -q-container">
        <div class="-pad-20 -grey -font-12">
          2/5
        </div>
        <div class="-q-body -pad-20">
          {{q2}}
        </div>
        <div class="slider-wrapper -pad-20">
          <div class="slider-numbers-wrapper">
            <div *ngFor="let number of toTen">{{number}}</div>
          </div>
          <div class="slider-input-wrapper">
            <input type="range" min="1" max="100" [(ngModel)]="surveyPackage.answers[1]" class="slider">
          </div>
          <div class="slider-labels-wrapper">
            <div class="slider-label -left-label">
              I would still want to see all 10 units
            </div>
            <div class="slider-label -center-label">
              I would only need to see 5 units
            </div>
            <div class="slider-label -right-label">
              I wouldn’t need to physically tour at all
            </div>
          </div>
        </div>
      </div>

      <div class="question-three -q-container">
        <div class="-pad-20 -grey -font-12">
          3/5
        </div>
        <div class="-q-body -pad-20">
          {{q3}}
        </div>

        <div class="slider-wrapper -pad-20">
          <div class="slider-numbers-wrapper">
            <div *ngFor="let number of toTen">{{number}}</div>
          </div>
          <div class="slider-input-wrapper">
            <input type="range" min="1" max="100" [(ngModel)]="surveyPackage.answers[2]" class="slider">
          </div>
          <div class="slider-labels-wrapper">
            <div class="slider-label -left-label">
              Photos would be just fine
            </div>
            <div class="slider-label -center-label">
              I would appreciate the videos
            </div>
            <div class="slider-label -right-label">
              I would only rent a unit w/ videos
            </div>
          </div>
        </div>
      </div>

      <div class="question-four -q-container">
        <div class="-pad-20 -grey -font-12">
          4/5
        </div>
        <div class="-q-body -pad-20">
          {{q4}}
        </div>

        <div class="slider-wrapper -pad-20">
          <div class="slider-numbers-wrapper">
            <div *ngFor="let number of toTen">{{number}}</div>
          </div>
          <div class="slider-input-wrapper">
            <input type="range" min="1" max="100" [(ngModel)]="surveyPackage.answers[3]" class="slider">
          </div>
          <div class="slider-labels-wrapper">
            <div class="slider-label -left-label">
              I don’t need a video to help me decide
            </div>
            <div class="slider-label -center-label">
              The video would help me decide
            </div>
            <div class="slider-label -right-label">
              I would only choose a unit with a video
            </div>
          </div>
        </div>
      </div>

      <div class="question-five -q-container">
        <div class="-pad-20 -grey -font-12">
          5/5
        </div>
        <div class="-q-body -pad-20">
          {{q5}}
        </div>

        <div class="slider-wrapper -pad-20">
          <div class="slider-numbers-wrapper">
            <div *ngFor="let number of toTen">{{number}}</div>
          </div>
          <div class="slider-input-wrapper">
            <input type="range" min="1" max="100" [(ngModel)]="surveyPackage.answers[4]" class="slider">
          </div>
          <div class="slider-labels-wrapper">
            <div class="slider-label -left-label">
              Videos don’t help me feel comfortable
            </div>
            <div class="slider-label -center-label">
              Videos help me feel more comfortable
            </div>
            <div class="slider-label -right-label">
              I would only rent a unit with a video
            </div>
          </div>
        </div>
      </div>

      <div class="stats -q-container">
        <form>
          <mat-form-field class="form-field -full">
            <mat-select placeholder="your current age" [formControl]="ageControl" required>
              <mat-option class="dropdown-option" *ngFor="let age of ages" [value]="age">
                {{age}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="ageControl.hasError('required')">please choose an age range</mat-error>
          </mat-form-field>

          <mat-form-field class="form-field -full">
            <mat-select placeholder="your rent/mortgage" [formControl]="rentControl" required>
              <mat-option class="dropdown-option" *ngFor="let rent of rents" [value]="rent">
                {{rent}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="rentControl.hasError('required')">please choose a rent/mortgage range</mat-error>
          </mat-form-field>

          <mat-form-field class="form-field -full">
            <input matInput placeholder="your zip code" pattern="[0-9]*" [formControl]="zipControl">
            <mat-error *ngIf="zipControl.hasError('required')">please enter your zip code</mat-error>
          </mat-form-field>

          <div class="submit-button-wrapper">
            <button mat-button type="submit" class="submit-button" (click)="submitClicked()">submit survey</button>
          </div>
        </form>
      </div>
    </div>

  </div>

  <div [class.show-complete]="surveyComplete" class="step">
    <div class="thank-you-message">
      <div>
        Thank you for taking the New View survey.
      </div>
      <div style="font-size:10px;">
        Now tell all your friends about it.
      </div>
    </div>
  </div>
</div>