<div id="siteContainer" class="site-container">
  <header class="header js-header ghost -wrap -fzero">
    <div class="ghost__child -full">
      <div class="header__nav -column -column--2of4">
      </div>
      <div class="header__utility -column -column--2of4 -text--right">
        <div class="header__icon -column nv-icon" (click)="goHome()">
          <img width="150px" src="./assets/images/MASTER_logo.png" alt="">
        </div>
      </div>
    </div>
  </header>

  <div class="slices__slice slices__labeledSection" style="padding-top: 100px;">
    <div class="slices__content">

      <div class="section section-pricetool -exp-2 js-color -theme--light" data-color="light">

        <div class="price-tool-header">
          <p>price</p>
          <p>tool</p>
        </div>
        <div class="price-tool-container">
          <div class="left-price-panel">
            <div class="form-container">
              <div class="required-section">
                <div class="input-container">
                  <div class="input-label">total sqft<span class="star"> *</span></div>
                  <input type="number" (change)="calcTotal()" [(ngModel)]="totalSqft" required>
                </div>

                <div class="input-container">
                  <div class="input-label">units<span class="star"> *</span></div>
                  <input type="number" (change)="calcTotal()" [(ngModel)]="units" required>
                </div>


                <div class="small-font" style="float: right;">
                  (<span class="star">*</span>required)
                </div>
              </div>
              <div class="add-on-section">
                <div class="add-on-checkbox-container">
                  <input type="checkbox" name="upload" [(ngModel)]="upload" (change)="calcTotal()"> upload tours to
                  YouTube
                </div>
                <div class="add-on-checkbox-container">
                  <input type="checkbox" name="amenities" [(ngModel)]="amenities" (change)="calcTotal()"> shoot
                  amenities
                </div>

                <div *ngIf="amenities" class="amenities-container">
                  <div class="input-container">
                    <div class="input-label">total sqft</div>
                    <input type="number" (change)="calcTotal()" [(ngModel)]="totalAmenitySqft" required>
                  </div>

                  <div class="input-container">
                    <div class="input-label">spaces</div>
                    <input type="number" (change)="calcTotal()" [(ngModel)]="spaces" required>
                  </div>
                </div>

              </div>
            </div>

          </div>
          <div class="right-price-panel">
            <div class="total-container">
              <div style="margin-bottom: 5px;">
                total
              </div>
              <div class="xl-font">
                {{totalPrice}}
              </div>
              <div class="small-font">
                (rounded to the nearest dollar)
              </div>
            </div>
            <div *ngIf="presentPricePerUnit" class="total-container">
              <div style="margin-bottom: 5px;">
                price per unit
              </div>
              <div>
                {{costPerUnit}}
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>
  </div>

</div>