<div id="siteContainer" class="site-container">
  <header class="header js-header ghost -wrap -fzero">
    <div class="ghost__child -full">
      <div class="header__nav -column -column--2of4">
      </div>
      <div class="header__utility -column -column--2of4 -text--right">
        <div class="header__icon -column">
          <img width="150px" src="./assets/images/MASTER_logo.png" alt="">
        </div>
      </div>
    </div>
  </header>

  <div class="slices__slice slices__labeledSection" style="padding-top: 100px;">
    <div class="slices__content">

      <div class="section section-pricetool -exp-2 js-color -theme--light" data-color="light">

        <div class="left-price-panel">
          <div class="form-container">
            <p>price</p>
            <p>tool</p>
            <div class="required-section">
              <div class="input-container">
                <div class="input-label">average sqft<span class="star"> *</span></div>
                <input type="number" (change)="calcTotal()" [(ngModel)]="averagesqft" required>
              </div>

              <div class="input-container">
                <div class="input-label">units<span class="star"> *</span></div>
                <input type="number" (change)="calcTotal()" [(ngModel)]="units" required>
              </div>


              <div class="small-font" style="float: right;">
                (<span class="star">*</span>required)
              </div>
            </div>
            <div class="add-on-section">
              <div>
                <input type="checkbox" name="upload" [(ngModel)]="upload" (change)="calcTotal()"> upload tours to
                Youtube
                or Vimeo
              </div>
              <div>
                <input type="checkbox" name="amenities" [(ngModel)]="amenities"> shoot amenities
              </div>

            </div>
          </div>

        </div>
        <div class="right-price-panel">
          <div class="total-container">
            <div style="margin-bottom: 5px;">
              total
            </div>
            <div class="xl-font">
              {{totalPrice}}
            </div>
            <div class="small-font">
              (rounded to the nearest dollar)
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

</div>