<div class="nv-content-container">
  <div class="nv-content">
    <div class="about-us-container">
      <div class="about-us medium-font">
        {{aboutUs}}
      </div>
      <div class="tagline medium-font">
        It’s time to take on a whole New View.
      </div>
    </div>
    <div class="us-container">
      <div class="person-container">
        <img class="headshot-img" src="./assets/images/c-headshot.JPG" alt="">
        <h1 class="bio-header">Cole Britton</h1>
        <div class="bio medium-font">
          {{aboutCole}}
        </div>
      </div>
      <div class="person-container">
        <img class="headshot-img" src="./assets/images/z-headshot.JPG" alt="">
        <h1 class="bio-header">Zach Kemp</h1>
        <div class="bio medium-font">
          {{aboutZach}}
        </div>
      </div>
    </div>
  </div>
</div>