<div class="nv-content-container">
  <div class="nv-content nv-project-builder-container">
    <div class="-sticky nv-card">
      <div class="nv-card-header -lulo medium-font">
        {{currentProject.title}}
      </div>
      <img class="nv-card-image" src="{{projectImage}}" alt="Fairmount">
      <div class="nv-card-bullets">
        <ul class="feature-list">
          <li *ngFor="let feature of currentProject.features" class="large-font">
            {{feature.title}}
          </li>
        </ul>
      </div>
    </div>
    <div class="features-container">
      <div class="features-content">
        <div class="features-content-header large-font">
          Build your New View Project
        </div>
        <div class="features-content-sub-header -grey medium-font">
          Select the features to fit your property. Once you have tailored your New View package to fit your needs, send
          us your order and we will process your order and contact within 1-3 business days to get started with the next
          steps.
        </div>
        <div class="feature-catalog-container">
          <div *ngFor="let feature of featuresCatalog">
            <div class="category-header-container">
              <div class="category-labels-container">
                <div class="category-header large-font">
                  {{feature.title}}
                </div>
                <div class="category-sub-header medium-font">
                  <a class="example-link" (click)="openExampleDialog(feature.title, feature.description)">Need an
                    example?</a>
                </div>
              </div>
              <div class="category-actions-container">
                <button *ngIf="!feature.added" mat-button class="small-action-button -lulo"
                  (click)="onFeatureAdd(feature)">add to project</button>
                <div class="feature-action-button" *ngIf="feature.added">
                  <mat-icon class="added-to-project-indicator">done</mat-icon>
                </div>

              </div>
            </div>

            <div *ngFor="let option of feature.options" class="feature-option-container"
              [class.-selected-border]="feature.added">
              <div class="feature-option">
                <div class="feature-option-description large-font">
                  {{option.description}}
                </div>
                <div *ngIf="option.multi" class="feature-option-quantity">
                  <mat-select [(value)]="option.quantity" (selectionChange)="calculateCostOfFeature(feature)">
                    <mat-option *ngFor="let q of quantities" [value]="q">{{q}}</mat-option>
                  </mat-select>
                </div>

                <div class="feature-option-value large-font">
                  ${{option.value}} <span *ngIf="option.multi">ea</span>
                </div>
              </div>
              <div *ngFor="let subOption of option.subOptions" class="feature-sub-option medium-font">
                <div class="feature-sub-option-checkbox-contatiner" *ngIf="!subOption.multi">
                  <mat-checkbox color="primary" [(ngModel)]="subOption.selected"
                    (change)="calculateCostOfFeature(feature)"></mat-checkbox>
                </div>
                <div class="feature-sub-option-description">
                  {{subOption.description}}
                </div>
                <div *ngIf="subOption.multi" class="feature-option-quantity">
                  <mat-select [(value)]="subOption.quantity" (selectionChange)="calculateCostOfFeature(feature)">
                    <mat-option *ngFor="let q of quantities" [value]="q">{{q}}</mat-option>
                  </mat-select>
                </div>
                <div class="feature-sub-option-value medium-font">
                  ${{subOption.value}} <span *ngIf="subOption.multi || subOption.applyAll">ea</span>
                </div>
              </div>

            </div>

            <div class="category-footer medium-font">
              <a *ngIf="feature.added" [@enterAnimation] (click)="onFeatureRemove(feature)">Remove</a>
            </div>
          </div>
        </div>
        <div class="features-content-footer medium-font">
          Have a unique request? Want to capture every unit in your lease up? Don’t hesitate to reach out. Our team is
          skilled, dedicated, and inspired by a challenge. If you have an idea but aren’t quite sure how to convert it
          into a reality, let us know. We’re looking forward to making all your marketing dreams come true.
          <div class="contact-us-link">
            <a [@enterAnimation] (click)="goTo('contact')">Contact us</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="nv-actions-bar">
  <div class="nv-actions-content">
    <div>
      <span class="xl-font" style="line-height: 42px;">
        <b>${{currentProject.totalCost}}</b>
      </span>
      <span class="small-font -grey">
        +$500 setup fee
      </span>
    </div>
    <div>
      <button mat-button class="small-button -lulo -submit-build-button" (click)="onOrderClicked()">send us your
        order</button>
    </div>
  </div>
</div>