.send-button {
    background-color: black; 
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family:"LuloClean",Helvetica;
    font-stretch:normal;
    font-style:normal
  }

  .send-button:hover {
    background-color: rgb(20, 20, 20); 
    cursor: pointer;
  }