@font-face{
    font-family:"FFMarkPro";
    src: url('/assets/fonts/ff_mark_pro.woff') format("woff");
    font-style:normal;
    font-stretch:normal
}
@font-face{
    font-family:"FFMarkProBold";
    src:url("/assets/fonts/ff_mark_pro_bold.woff") format("woff");
    font-style:normal;
    font-stretch:normal
}

@font-face{
    font-family:"LuloClean";
    src:url("/assets/fonts/LuloCleanOneBold.otf");
    font-style:normal;
    font-stretch:normal
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    font:inherit;
    font-size:100%;
    vertical-align:baseline
}
html{
    line-height:1
}
ol,ul{
    list-style:none
}
table{
    border-collapse:collapse;
    border-spacing:0
}
caption,th,td{
    text-align:left;
    font-weight:normal;
    vertical-align:middle
}
q,blockquote{
    quotes:none
}
q:before,q:after,blockquote:before,blockquote:after{
    content:"";
    content:none
}

a img{
    border:none
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,main{
    display:block
}
html{
    background-color:#fff;
    box-sizing:border-box;
    color:#000;
}
body{
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-touch-callout:none;
    font-family:"FFMarkPro",Helvetica;
    font-stretch:normal;
    font-style:normal
}

.app-nav-bar{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    display: block;
    margin: 0;
    width: 100%;
    min-width: 320px;
    height: 48px;
    max-height: 44px;
    background: rgba(256, 256, 256, 0.9);
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.app-nav-content{
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    position: relative;
    z-index: 2;
    display: flex;
}

.menu-nav-link {
    padding-top: 10px;
}

.menu-nav-link:hover{
    cursor: pointer;
}

.left, .right{
    flex: 1;
}

.main-menu {
    position: absolute;
    top: 44px;
    background: rgba(256, 256, 256, 0.9);
    border-radius: 0 0 4px 4px;
}

.-main-menu-width {
    width: 200px;
}

.main-menu > ul > li {
    padding: 16px 10px;
    border-bottom: 1px solid #f2f2f2  
}

.main-menu > ul > li:last-child {
    border-bottom: none;
}

.main-menu > ul > li:hover {
    cursor: pointer;
    color: rgb(70, 70, 70);
}

.app-nav-item {
    height: 48px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.app-nav-new-view {
    position: absolute;
    width: 48px;
    top: 0;
    left: 50%;
    margin-left: -24px;
    text-align: center;
    z-index: 1;
}

.app-nav-link {
    line-height: 2.82353em;
    height: 48px;
    font-size: 14px;
    line-height: 3.14286;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #fff;
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0 10px;
    height: 44px;
    opacity: 1;
    background: no-repeat;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-tap-highlight-color: transparent;
    outline-offset: -7px;
}

.app-nav-link-new-view {
    background-size: 55px 22px;
    background-repeat: no-repeat;
    background-image: url(../../assets/images/MASTER_logo.png);
    background-position: center center;
    width: 55px;
}

.app-nav-link-text{
    display: none;
}

.feature-list>li{
    margin-bottom: 10px;
}

.feature-list>li:last-child{
    margin: 0;
}



.package-select-button-wrapper {
    text-align: center;
    margin: 60px 0;
  }

  .package-select-button {
    background-color: black; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family:"LuloClean",Helvetica;
    font-stretch:normal;
    font-style:normal
  }

  .package-select-button:hover {
    background-color: rgb(20, 20, 20); 
    cursor: pointer;
  }

  .package-builder-header{
      line-height: 18px;
  }

.package-builder-header>div{
    text-align: center;
    margin-bottom: 10px;
}

.our-work-gif-container {
    margin: auto;
}

  .small-button {
    background-color: black; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 8px;
  }

  .small-button:hover {
    background-color: rgb(20, 20, 20); 
    cursor: pointer;
  }

  .-lulo{
    font-family:"LuloClean",Helvetica;
    font-stretch:normal;
    font-style:normal
  }

.-font-12 {
    font-size: 12px;
}

.centered-link{
    text-align: center;
    padding:20px 0;
}

.cover-photo-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -100;
    overflow: hidden;
    background-color: #000;
}

.cover-photo{
    object-fit: cover;
    max-width: 2000px;
    min-width: 1000px;
    width: 120%;
    object-position: center;
}

.cover-text {
    text-align: center;
    color: white;
    margin: 40vh 20px;
}

.nv-actions-bar{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    display: block;
    margin: 0;
    width: 100%;
    min-width: 320px;
    height: 68px;
    padding-top: 20px;
    background: rgba(256, 256, 256, 0.9);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.nv-actions-content {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

.nv-content {
    margin: 0 auto;
    max-width: 980px;
    padding: 48px 22px;
    position: relative;
    z-index: 1;
}

.nv-content-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    display: block;
    margin: 0;
    width: 100%;
    min-width: 320px;
    background-color: white;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    overflow-x: hidden;
    overflow-y: auto;
}

.features-container {
    position: absolute;
    top: 0;
    left: 342px;
    right: 0px;
    min-width: 480px;
    padding-bottom: 100px;
}

.features-content{
    padding: 48px 22px;
    position: relative;
    z-index: 1;
}

.feature-catalog-container{
    border-top: 1px solid #d6d6d6;
}

.feature-catalog-container .category-header-container{
    margin-top: 32px;
}

.features-content-header{
margin: 30px 0 10px;
font-size: 20px;
    font-weight: bold;
}

.added-to-project-indicator {
    margin-top: 20px;
}

.features-content-sub-header{
    margin-bottom: 32px;
    line-height: 18px;
}

.features-content-footer {
    border-top: 1px solid #d6d6d6;
    margin: 32px 0;
    line-height: 18px;
    padding: 20px 0;
}

.category-header{
margin-top: 20px;
font-weight: bold;
}

.category-sub-header{
    margin: 5px 0 10px;
    cursor: none;
}

.category-footer{
    margin: 5px 0 10px;
    text-align: right;
    height: 10px;
}

.category-header-container{
    display: flex;
    justify-content: space-between;
}

.category-actions-container>button{
    margin-top: 20px;
}

.-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}

.category-labels-container{
}

.example-link{
    color: #3F51B5;
}

.feature-option-container {
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 20px;
}

.feature-option{
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.feature-option-description {
    width: 75%;
}

.feature-option-quantity {
    width: 50px;
    text-align: right;
    position: absolute;
    right: calc(15% + 20px);
    font-size: 12px;
}

.feature-option-quantity > span {
    margin-right: 4px;
}

.feature-option-quantity > input {
    display: inline-block;
    width: 32px;
}

.feature-option-value {
    width: 15%;
    text-align: right;
    position: absolute;
    right: 20px;
}

.feature-sub-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 40px;
}

.feature-sub-option-checkbox-contatiner {
    width: fit-content;
    position: absolute;
    left: 8px;
    top: 11px;
}

.feature-sub-option-description{
    width: 70%;
    position: absolute;
    left: 32px;
}

.feature-sub-option-value {
    width: 15%;
    text-align: right;
    position: absolute;
    right: 20px;
}

.feature-action-button{
    color: #3F51B5
}

.small-font{
    font-size: 10px;
}

.medium-font{
    font-size: 12px;
}

.xl-font {
    font-size: 32px;
}

.star {
    color: #FE575A
}

.-selected-blue{
    color: #3F51B5
}

.-selected-border {
    border: 1px solid #3F51B5;
}

.meat {
    padding-top: 100px;
}

.-pad-40 {
    padding: 40px;
}

.-pad-20 {
    padding: 20px;
}

.-pad-100-v {
    padding: 100px 0;
}

.-margin-40-v {
    margin: 40px 0;
}

.flex-card-container{
    display: flex;
    justify-content: center;
}

.package-builder-start-container {
    padding-bottom: 200px;
}

.nv-card{
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 4px;
    max-width: 300px;
    margin: 32px 10px;
    background-color: white;
}

.-nv-card-home-height{
    height: 510px;
}

.nv-card-image{
    width: calc(100% + 32px);
    height: 168px;
    margin: 0 -16px 16px -16px;
    object-fit: cover;
}

.nv-card-header{
    padding: 10px 0 20px;
    text-align: center;
}

.nv-card-bullets{
        display: block;
        position: relative;
        margin-bottom: 6px
}

.about-us{
    margin: auto;
    line-height: 22px;
    max-width: 600px;
}

.about-us-container {
    text-align: justify;
    text-justify: inter-word;
}

.about-us p {
    text-align: center;
    padding-top: 20px;
}

.nv-card-actions{
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 -16px 16px -16px;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  a:active {
    color: black;
  }
  
  a:visited {
    color: rgb(83, 43, 226);
  }

  .the-rest{
      position: absolute;
      top: 100vh;
      left:0;
      width:100%;
  }

  .unit-gif-container{
    display: inline-block;
    width: 300px;
    margin: 10px 20px;
}

.example-dialog > mat-dialog-container {
    width: 40vw;
}

.mat-select {
    font-family:"FFMarkPro",Helvetica !important;
}

.mat-option {
    font-family:"FFMarkPro",Helvetica !important;
}

.mat-dialog-title {
    font-family: "FFMarkProBold",Helvetica !important;
    color: #3F51B5 !important;
}

.mat-dialog-content {
    line-height: 22px !important;
    font-size: 14px !important;
    text-align: justify !important;
    text-justify: inter-word !important;
    margin-bottom: 20px !important;
}

.mat-dialog-actions {
   padding: 8px 0 24px 0 !important;
}

.mat-dialog-actions > button {
    float: right !important;
    margin-left: auto !important;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #f2f2f2;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
  }

  .-q-container {
    border-top: 1px solid #f2f2f2;
    padding: 60px 0;
    line-height: 25px;
}

.-q-body {
    text-align: justify;
    text-justify: inter-word;
}

.slider-labels-wrapper{
    line-height: 12px;
    padding: 16px 0;
}

.slider-label {
    display: inline-block;
    font-size: 10px;
    text-align: center;
    width: 33.3333%;
    padding: 2px;
    vertical-align: middle;
}

.slider-input-wrapper {
    padding: 0 3.5%;
    font-size: 10px;
}

.slider-numbers-wrapper{
    line-height: 12px;
    padding: 10px 0;
}

.slider-numbers-wrapper>div{
    width: 9.0909%;
    display: inline-block;
    text-align: center;
    font-size: 10px;
}


a{
    color:inherit;
    text-decoration:none
}

.site-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: scroll;
    -webkit-overflow-scrolling:touch;
}

*,*:before,*:after{
    box-sizing:inherit
}
::-webkit-scrollbar{
    display:none
}
.p,.cms p,.li,.cms li{
    font-size:20px;
    line-height:1.7
}
.p strong,.cms p strong,.li strong,.cms li strong{
    font-family:"FFMarkProBold",Helvetica;
    font-stretch:normal;
    font-style:normal
}
.p--meta,.p--meta p{
    font-size:16px;
    line-height:2
}
.ul .li,.cms ul li{
    list-style:disc
}
.ol .li,.cms ol li{
    list-style:decimal
}
.em,.cms em{
    font-style:italic
}
.strong{
    font-family:"FFMarkProBold",Helvetica;
    font-stretch:normal;
    font-style:normal
}
.meta,.meta p,.meta li{
    color:#959595;
    font-size:16px
}
.a,.cms a:not([data-ignore-style="hover"]){
    transition:color 200ms cubic-bezier(0.25, 0.1, 0.25, 1),border-bottom-color 200ms cubic-bezier(0.25, 0.1, 0.25, 1)
}
.a.is-active,.cms a:not([data-ignore-style="hover"]).is-active{
    color:#907f53
}
.h1,.cms h1{
    font-size:16vw;
    line-height:.76667;
    letter-spacing:-.3vw;
    text-transform:lowercase;
    font-family:"FFMarkProBold",Helvetica;
    font-stretch:normal;
    font-style:normal
}
.h2,.cms h2{
    font-size:35px;
    line-height:1.5;
    font-family:"FFMarkPro",Helvetica;
    font-stretch:normal;
    font-style:normal
}
.h3,.cms h3{
    font-size:35px;
    line-height:1.5;
    font-family:"FFMarkPro",Helvetica;
    font-stretch:normal;
    font-style:normal
}
.h4,.cms h4{
    font-size:35px;
    line-height:1.5
}
.h5,.cms h5{
    font-size:35px;
    line-height:1.5
}
.h6,.cms h6{
    font-size:35px;
    line-height:1.5
}
.cms:not(.cms--meta) p+p,.cms:not(.cms--meta) p+ol,.cms:not(.cms--meta) p+ul,.cms:not(.cms--meta) p+h1,.cms:not(.cms--meta) p+h2,.cms:not(.cms--meta) p+h3,.cms:not(.cms--meta) p+h4,.cms:not(.cms--meta) p+h5,.cms:not(.cms--meta) p+h6,.cms:not(.cms--meta) ol+p,.cms:not(.cms--meta) ol+ol,.cms:not(.cms--meta) ol+ul,.cms:not(.cms--meta) ol+h1,.cms:not(.cms--meta) ol+h2,.cms:not(.cms--meta) ol+h3,.cms:not(.cms--meta) ol+h4,.cms:not(.cms--meta) ol+h5,.cms:not(.cms--meta) ol+h6,.cms:not(.cms--meta) ul+p,.cms:not(.cms--meta) ul+ol,.cms:not(.cms--meta) ul+ul,.cms:not(.cms--meta) ul+h1,.cms:not(.cms--meta) ul+h2,.cms:not(.cms--meta) ul+h3,.cms:not(.cms--meta) ul+h4,.cms:not(.cms--meta) ul+h5,.cms:not(.cms--meta) ul+h6,.cms:not(.cms--meta) h2+p,.cms:not(.cms--meta) h2+ol,.cms:not(.cms--meta) h2+ul,.cms:not(.cms--meta) h2+h1,.cms:not(.cms--meta) h2+h2,.cms:not(.cms--meta) h2+h3,.cms:not(.cms--meta) h2+h4,.cms:not(.cms--meta) h2+h5,.cms:not(.cms--meta) h2+h6,.cms:not(.cms--meta) h3+p,.cms:not(.cms--meta) h3+ol,.cms:not(.cms--meta) h3+ul,.cms:not(.cms--meta) h3+h1,.cms:not(.cms--meta) h3+h2,.cms:not(.cms--meta) h3+h3,.cms:not(.cms--meta) h3+h4,.cms:not(.cms--meta) h3+h5,.cms:not(.cms--meta) h3+h6,.cms:not(.cms--meta) h4+p,.cms:not(.cms--meta) h4+ol,.cms:not(.cms--meta) h4+ul,.cms:not(.cms--meta) h4+h1,.cms:not(.cms--meta) h4+h2,.cms:not(.cms--meta) h4+h3,.cms:not(.cms--meta) h4+h4,.cms:not(.cms--meta) h4+h5,.cms:not(.cms--meta) h4+h6,.cms:not(.cms--meta) h5+p,.cms:not(.cms--meta) h5+ol,.cms:not(.cms--meta) h5+ul,.cms:not(.cms--meta) h5+h1,.cms:not(.cms--meta) h5+h2,.cms:not(.cms--meta) h5+h3,.cms:not(.cms--meta) h5+h4,.cms:not(.cms--meta) h5+h5,.cms:not(.cms--meta) h5+h6,.cms:not(.cms--meta) h6+p,.cms:not(.cms--meta) h6+ol,.cms:not(.cms--meta) h6+ul,.cms:not(.cms--meta) h6+h1,.cms:not(.cms--meta) h6+h2,.cms:not(.cms--meta) h6+h3,.cms:not(.cms--meta) h6+h4,.cms:not(.cms--meta) h6+h5,.cms:not(.cms--meta) h6+h6{
    margin-top:40px
}
.cms:not(.cms--meta) h1+p,.cms:not(.cms--meta) h1+ol,.cms:not(.cms--meta) h1+ul,.cms:not(.cms--meta) h1+h1,.cms:not(.cms--meta) h1+h2,.cms:not(.cms--meta) h1+h3,.cms:not(.cms--meta) h1+h4,.cms:not(.cms--meta) h1+h5,.cms:not(.cms--meta) h1+h6{
    margin-top:80px
}
.cms+.cms--meta{
    margin-top:40px
}
.cms--meta+.cms--paging{
    margin-top:80px
}
.cms--paging{
    margin-left:-20px;
    margin-right:-20px
}
.cms--gold a{
    color:#907f53
}
.svg{
    transition:fill 200ms cubic-bezier(0.25, 0.1, 0.25, 1)
}
.svg--logo{
    transform:translateX(-50%)
}
.main{
    overflow:hidden;
    padding-top:160px;
    transition:opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1),width 200ms cubic-bezier(0.25, 0.1, 0.25, 1),transform 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
    width:100%
}
.main.is-inactive{
    opacity:0;
    pointer-events:none
}
.-column{
    display:inline-block;
    vertical-align:middle
}
.-column--1of5{
    width:20%
}
.-column--1of4{
    width:25%
}
.-column--1of3{
    width:33.33333%
}
.-column--2of5{
    width:40%
}
.-column--2of4{
    width:50%
}
.-column--3of5{
    width:60%
}
.-column--2of3{
    width:66.66666%
}
.-column--3of4{
    width:75%
}
.-column--4of5{
    width:80%
}
.ghost{
    font-size:0
}
.ghost:before{
    content:"";
    display:inline-block;
    height:100%;
    margin-left:-1px;
    vertical-align:middle;
    width:1px
}
.ghost__child{
    display:inline-block;
    vertical-align:middle
}
.grid{
    padding-left:3vw;
    padding-right:3vw
}
.grid__item{
    margin-bottom:80px;
    padding-left:3vw;
    padding-right:3vw
}
.icon-wrap{
    cursor:pointer;
    display:inline-block;
    margin:-20px;
    padding:20px
}
.icon{
    cursor:pointer;
    display:inline-block;
    line-height:1;
    position:relative;
    text-align:center;
    vertical-align:middle
}
.icon span{
    display:inline-block
}
.icon--plus{
    height:16px;
    transition:height 200ms cubic-bezier(0.37, 0.005, 0, 1.65),width 200ms cubic-bezier(0.37, 0.005, 0, 1.65);
    width:16px
}
.icon--plus .vert{
    background-color:#fff;
    height:100%;
    left:50%;
    position:absolute;
    top:0;
    transform:translateX(-50%);
    width:2px
}
.icon--plus .horz{
    background-color:#fff;
    height:2px;
    left:0;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    width:100%
}
.icon--list{
    height:18px;
    width:32px
}
.icon--list span{
    background-color:#000;
    height:2px;
    left:0;
    position:absolute;
    transition:background-color 200ms cubic-bezier(0.25, 0.1, 0.25, 1),opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1),transform 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
    width:100%
}
.icon--list .top{
    top:0
}
.icon--list .mid{
    top:50%;
    transform:translateY(-50%)
}
.icon--list .bot{
    bottom:0
}
.icon--list .ex1,.icon--list .ex2{
    opacity:0;
    top:50%;
    transform:translateY(-50%)
}
.icon--filter .glass{
    border:2px solid #eee;
    border-radius:100%;
    height:24px;
    transition:border-color 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
    width:24px
}
.icon--filter .handle{
    background-color:#eee;
    height:2px;
    left:0;
    position:absolute;
    transform:translate3d(-100%, -50%, 0);
    transition:transform 200ms cubic-bezier(0.25, 0.1, 0.25, 1),background-color 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
    top:50%;
    width:12px
}
.icon--dir{
    border-color:transparent;
    border-style:solid;
    border-width:5px;
    height:0;
    transition:border-color 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
    width:0
}
.icon--dir.icon--left{
    border-right-color:#eee;
    margin-right:10px
}
.icon--dir.icon--right{
    border-left-color:#eee;
    margin-left:10px
}
@keyframes pressed{
    50%{
        transform:scale(2)
    }
}
.icon--keys{
    height:22px;
    width:34px
}
.icon--keys span{
    background-color:#eee;
    border-radius:2px;
    position:absolute;
    height:10px;
    width:10px
}
.icon--keys span.is-pressed{
    animation:pressed 200ms 1
}
.icon--keys span:after{
    border-color:transparent;
    border-style:solid;
    border-width:3px;
    content:"";
    height:0;
    left:0;
    position:absolute;
    top:0;
    width:0
}
.icon--keys .up{
    left:50%;
    opacity:0.5;
    top:0;
    margin-left:-5px
}
.icon--keys .up:after{
    display:none
}
.icon--keys .left{
    bottom:0;
    left:0
}
.icon--keys .left:after{
    border-right-color:#000;
    top:50%;
    transform:translateY(-50%)
}
.icon--keys .down{
    bottom:0;
    left:50%;
    opacity:0.5;
    margin-left:-5px
}
.icon--keys .down:after{
    display:none
}
.icon--keys .right{
    bottom:0;
    right:0
}
.icon--keys .right:after{
    border-left-color:#000;
    left:50%;
    top:50%;
    transform:translateX(-1px) translateY(-50%)
}
.icon--sound svg{
    fill:#fff;
    width:20px
}
.icon--fs svg{
    fill:#fff;
    width:17px
}
.image{
    max-width:100%;
    width:100%
}
.header{
    height:160px;
    left:0;
    pointer-events:none;
    position:fixed;
    top:0;
    width:100%;
    z-index:1001
}
.header .header__icon{
    pointer-events:auto
}
.header__utility{
    transition:transform 200ms cubic-bezier(0.25, 0.1, 0.25, 1)
}
.header__list,.header__filter{
    transition:opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1)
}
.header__keys{
    display:none
}
.header__svg{
    display:inline-block;
    width:80px
}
.header__svg .svg{
    fill:#fff
}
.header__svg+.header__keys{
    margin-left:20px
}
.animate{
    opacity:0;
    transition:opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1)
}
.animate.is-animate{
    opacity:1
}
.animate-lift{
    opacity:0;
    transform:translate3d(0, 240px, 0);
    transition:transform 200ms cubic-bezier(0.25, 0.1, 0.25, 1),opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1)
}
.animate-lift.is-animate{
    opacity:1;
    transform:translate3d(0, 0, 0)
}
.animate--slow{
    transition-duration:1000ms
}
.screen{
    background-color:transparent;
    bottom:0;
    left:0;
    opacity:0;
    overflow-x:hidden;
    overflow-y:scroll;
    pointer-events:none;
    position:fixed;
    right:0;
    top:0;
    transition:opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1),z-index 200ms cubic-bezier(0.25, 0.1, 0.25, 1),visibility 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
    visibility:hidden;
    z-index:-1
}
.screen.is-active{
    opacity:1;
    visibility:visible;
    z-index:1000;
    -webkit-overflow-scrolling:touch;
}
.screen.is-active .screen__wrap{
    pointer-events:auto
}
.screen--dark{
    background-color:#000
}
.screen--light{
    background-color:#fff
}
.navi{
    background-color:transparent;
    overflow:hidden;
    transform-origin:6vw 40px;
    transition:opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1),z-index 200ms cubic-bezier(0.25, 0.1, 0.25, 1),visibility 200ms cubic-bezier(0.25, 0.1, 0.25, 1),transform 200ms cubic-bezier(0.25, 0.1, 0.25, 1)
}
.navi.is-active .navi__a{
    pointer-events:auto
}
.navi.is-active .navi__li{
    opacity:1;
    transform:translateY(0)
}
.navi.is-active .navi__a.is-active:after{
    top:calc( 58% - 18px)
}
.navi.is-closing .navi__a.is-active:after{
    top:50%
}
.navi.is-closing .navi__li{
    opacity:1;
    transform:translateY(0)
}
.navi.is-special{
    opacity:0;
    transform:scale(0.05)
}
.navi__ul{
    position:absolute;
    top:50%;
    transform:translateY(-50%)
}
.navi__li{
    opacity:0;
    transform:translateY(100%);
    transition:transform 400ms cubic-bezier(0.37, 0.005, 0, 1.65),opacity 400ms cubic-bezier(0.25, 0.1, 0.25, 1)
}
.navi__li:nth-child(2){
    transition-delay:32ms
}
.navi__li:nth-child(3){
    transition-delay:64ms
}
.navi__li--primary .navi__a{
    font-size:22vh;
    line-height:1.2;
    position:relative;
    text-transform:lowercase;
    letter-spacing:-.3vw;
    font-family:"FFMarkProBold",Helvetica;
    font-stretch:normal;
    font-style:normal
}
.navi__li--primary .navi__a:after{
    background-color:#fff;
    content:"";
    display:inline-block;
    height:18px;
    left:50%;
    position:absolute;
    top:95%;
    transform:translateX(-50%);
    transition:top 600ms cubic-bezier(0.37, 0.005, 0, 1.65),transform 200ms cubic-bezier(0.37, 0.005, 0, 1.65);
    width:110%
}
.intro{
    background-color:#fff;
    overflow:hidden;
    pointer-events:auto;
    z-index:1003
}
.intro.is-active{
    z-index:1003
}
.intro__logo{
    width:200px
}
.project{
    min-height:100vh;
    position:relative
}
.project__info{
    left:0;
    padding-bottom:160px;
    padding-top:240px;
    position:fixed;
    top:0;
    transition:opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
    z-index:2
}
.project--standard .project__info{
    text-align:left;
    width:50vw
}
.project__body{
    position:relative;
    z-index:1
}
.project--standard .project__body{
    display:inline-block;
    text-align:left;
    width:50vw
}
.project__body--blog{
    padding-top:160px
}
.project--standard{
    text-align:right
}
.paging__navi{
    line-height:1
}
.hover{
    left:0;
    opacity:0;
    overflow:hidden;
    pointer-events:none;
    position:fixed;
    top:0;
    transition:opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1),visibility 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
    visibility:hidden;
    width:100px;
    z-index:1001
}
.hover.is-active{
    opacity:1;
    visibility:visible
}
.slices__slice{
    position:relative;
    width:100%
}
.project--feature .slices__slice{
    padding-bottom:80px;
    padding-top:80px
}
.slices__content{
    width:100%
}
.slices__map,.slices__parallax,.slices__labeledSection,.project--feature .slices__parallax{
    padding-bottom:0;
    padding-top:0
}
.slices__parallax+.slices__labeledSection .section{
    padding-top:0
}
.slices__parallax .parallax--right{
    text-align:right
}
.slices__parallax .parallax--center{
    text-align:center
}
.slices__parallax .parallax__cover{
    left:0;
    position:absolute;
    top:0
}
.slices__parallax .parallax__image{
    padding-top:160px
}
.slices__parallax .parallax__copy{
    position:relative;
    text-align:left;
    transform:translateY(-10.7vw);
    z-index:1
}
.page--studio .slices__parallax .parallax__copy{
    color:#000
}
.slices__parallax .parallax__info p{
    font-size:20px;
    color:#fff
}
.slices__parallax .parallax__title .cms{
    width:50vw
}
.slices__parallax .parallax__info{
    margin-top:100px
}
.slices__parallax .parallax__leadin{
    margin-top:40px
}
.slices__text{
    text-align:center
}
.slices__image,.slices__videoLink,.slices__videoEmbed{
    text-align:right
}
.project--feature .slices__image,.project--feature .slices__videoLink,.project--feature .slices__videoEmbed{
    text-align:center
}
.slices__image .slices__content,.slices__videoLink .slices__content,.slices__videoEmbed .slices__content{
    display:inline-block
}
.slices__textImage .-text--center:first-child{
    padding-right:80px
}
.slices__textImage .-text--center:last-child{
    padding-left:80px
}
.slices__diptych .-column:first-child{
    padding-right:40px
}
.slices__diptych .-column:last-child{
    padding-left:40px
}
.slices__map .map{
    display:block;
    padding-bottom:48.611111111%;
    width:100%
}
.slices__map .map__marker{
    width:160px
}
.slices__map .map__marker .svg{
    fill:#000;
    transform:translateX(-50%) translateY(-50%);
    transition:fill 200ms cubic-bezier(0.25, 0.1, 0.25, 1)
}
.slices__map .mapboxgl-ctrl-logo{
    display:none
}
.theme{
    bottom:0;
    height:160px;
    pointer-events:none;
    position:fixed;
    right:0;
    transition:opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
    z-index:1002
}
.theme__spot{
    border-radius:100%;
    cursor:pointer;
    display:inline-block;
    height:12px;
    pointer-events:auto;
    width:12px
}
.theme__spot.is-light{
    background-color:#eee;
    border:2px solid transparent
}
.theme__spot.is-dark{
    background-color:#333;
    border:2px solid #eee;
    margin-left:12px
}
.index__col+.index__col{
    padding-left:12vw
}
.index__info{
    left:0;
    position:absolute;
    top:100%;
    width:100%
}
.index__info.left{
    transform:translateX(100%)
}
.index__info.right,.index__info.center{
    text-align:left
}
.index__info a{
    font-style:italic;
    border-bottom:1px solid #fff
}
.index__icon{
    left:0;
    position:absolute;
    top:0;
    transform:translateX(-50%) translateY(-50%)
}
.index__text{
    padding-top:40px;
    opacity:0;
    transform:translate3d(0, -8px, 0);
    transition:opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1),transform 200ms cubic-bezier(0.37, 0.005, 0, 1.65)
}
.index__text strong{
    font-family:"FFMarkProBold",Helvetica;
    font-stretch:normal;
    font-style:normal
}
.feature{
    padding-bottom:160px
}
.feature__li+.feature__li{
    margin-top:-80px
}
.feature__li{
    pointer-events:none;
    position:relative
}
.feature__li .tile__photo{
    transition:opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
    transform:translate3d(0, 0, 0)
}
.feature__wrap{
    max-width:40%;
    pointer-events:auto
}
.filter{
    background-color:rgba(21,21,21,0.95);
    height:100%;
    overflow:hidden;
    padding-bottom:80px;
    padding-left:60px;
    position:fixed;
    right:0;
    top:0;
    transform:translate3d(100%, 0, 0);
    transition:width 200ms cubic-bezier(0.25, 0.1, 0.25, 1),transform 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
    width:250px;
    -webkit-overflow-scrolling:touch;
    z-index:1002
}
.filter__play{
    display:none
}
.filter-screen{
    background-color:rgba(21,21,21,0.95);
    cursor:pointer;
    pointer-events:auto
}
.filter-screen.is-active{
    opacity:0.2;
    z-index:1001
}
.filter__label{
    height:160px;
    text-transform:capitalize
}
.filter__a{
    cursor:pointer;
    position:relative;
    transition:color 200ms cubic-bezier(0.25, 0.1, 0.25, 1)
}
.filter__a.is-active:before{
    background-color:#907f53;
    border-radius:6px;
    content:"";
    height:6px;
    left:0;
    position:absolute;
    top:50%;
    transform:translate3d(-16px, -70%, 0);
    width:6px
}
.filter__col+.filter__col{
    padding-top:40px
}
.filter__color{
    background-color:#fff;
    border-radius:100%;
    display:inline-block;
    height:12px;
    margin-top:10px;
    transition:transform 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
    width:12px
}
.filter__color[data-value="black"]{
    border:2px solid #fff
}
.filter__color.is-active{
    transform:scale(1.2)
}
.filter__color+.filter__color{
    margin-left:10px
}
.filter__li{
    display:block;
    width:100%
}
.filter__by-imagetag .strong{
    margin-bottom:20px
}
.filter__by-color .strong{
    margin-bottom:10px
}
.cover{
    position:relative
}
.cover--base{
    height:100vh;
    width:100%
}
.cover__fill{
    height:100%;
    left:0;
    position:absolute;
    top:0;
    width:100%
}
.cover__image{
    position:absolute;
    right:0;
    top:0
}
.cover__title{
    left:0;
    padding-bottom:160px;
    padding-top:160px;
    position:absolute;
    top:0;
    display:inline-block;
    max-width:600px;
    width:100%
}
.video,.video__wrap{
    position:relative
}
.video.is-playing .video__play{
    opacity:0
}
.video.is-playing .video__scrubber{
    opacity:1
}
.video.is-playback .video__poster{
    opacity:0
}
.video__mobile{
    max-width:100%;
    width:100%
}
.video__node{
    cursor:pointer;
    max-width:100%;
    width:100%
}
.video__poster{
    height:100%;
    left:0;
    position:absolute;
    pointer-events:none;
    top:0;
    transition:opacity 400ms cubic-bezier(0.25, 0.1, 0.25, 1);
    width:100%
}
.video__auto{
    cursor:default
}
.video__scrubber{
    bottom:0;
    height:70px;
    left:0;
    opacity:0;
    position:absolute;
    transition:opacity 400ms cubic-bezier(0.25, 0.1, 0.25, 1);
    width:100%
}
.video__bar{
    background-color:rgba(189,189,189,0.5);
    cursor:col-resize;
    height:2px;
    left:0;
    position:absolute;
    top:-2px;
    width:100%
}
.video__fill{
    background-color:#907f53;
    height:100%;
    left:0;
    position:absolute;
    top:0;
    width:0%
}
.video__fill.is-transition{
    transition:width 600ms cubic-bezier(0.25, 0.1, 0.25, 1)
}
.video__info{
    width:100%
}
.video__meta{
    color:#fff;
    font-size:18px;
    width:50%
}
.video__fs,.video__title{
    padding-left:20px;
    padding-right:20px
}
.video__controls{
    width:50%
}
.video__box{
    display:inline-block;
    vertical-align:middle
}
.video__duration:before{
    background-color:rgba(189,189,189,0.5);
    content:"";
    display:inline-block;
    height:20px;
    margin-left:10px;
    margin-right:10px;
    vertical-align:middle;
    width:1px
}
.video__duration{
    color:rgba(189,189,189,0.5)
}
.video__play{
    height:100%;
    left:0;
    pointer-events:none;
    position:absolute;
    top:0;
    transition:opacity 400ms cubic-bezier(0.25, 0.1, 0.25, 1);
    width:100%
}
.video__play__btn{
    border:2px solid #fff;
    border-radius:100%;
    height:100px;
    width:100px
}
.video__play__btn__icon{
    padding-left:5px;
    width:24px
}
.video__play__btn__icon .svg{
    fill:#fff;
    width:100%
}
.page{
    position:relative
}
.section__label{
    padding-left:6vw;
    padding-right:6vw;
    width:40%
}
.page .section__label>.cms>p:first-child{
    color:#959595;
    font-size:16px
}
.section__content{
    width:60%
}
.section.-theme--dark .section__label .cms{
    color:#fff
}
.section.section--follow-us{
    padding-top:0
}
.view--career .career{
    margin-bottom:80px;
    padding-right:80px
}
.view--person{
    margin-left:-20px;
    margin-right:-20px
}
.view--person .index__info{
    z-index:2
}
.person{
    padding-left:20px;
    padding-right:20px;
    margin-bottom:40px;
    position:relative;
    width:25%;
    z-index:1
}
.person__wrap{
    background-color:#111;
    cursor:pointer;
    position:relative
}
.person__tile{
    height:100%;
    left:0;
    opacity:0;
    padding:0 40px;
    position:absolute;
    top:0;
    transition:opacity 600ms cubic-bezier(0.25, 0.1, 0.25, 1),z-index 600ms cubic-bezier(0.25, 0.1, 0.25, 1);
    width:100%;
    z-index:1
}
.portrait.is-lazy-loaded{
    opacity:1
}
.newbiz{
    padding-top:69px
}
.newbiz__info.cms:not(.cms--meta) p+p{
    margin-top:0
}
.social__link{
    height:32px;
    width:32px
}
.social__link+.social__link{
    margin-left:32px
}
.reader__cover{
    position:relative
}
.reader__li{
    margin-bottom:160px
}
.reader__li--standard .-wrap-media{
    padding:0
}
.reader__info{
    position:relative;
    z-index:2
}
.reader__li--feature .reader__title{
    position:relative;
    z-index:1
}
.reader__li--feature .reader__image{
    position:relative
}
.reader__body__wrap{
    transform:translateX(-10vw);
    width:100%
}
.tile__wrap{
    background-color:#111;
    display:inline-block;
    position:relative;
    width:100%
}
.tile__photo,.tile__wrap>iframe{
    height:100%;
    left:0;
    position:absolute;
    top:0;
    width:100%
}
.tileset__li{
    position:relative;
    z-index:1
}
.-exp-2{
    padding-bottom:160px;
    padding-top:160px
}
.-exp-1{
    padding-bottom:80px;
    padding-top:80px
}
.-exp{
    padding-bottom:40px;
    padding-top:40px
}
.-wrap,.-wrap-media{
    padding-left:6vw;
    padding-right:6vw;
}
.project--standard .-wrap-media{
    padding:0
}
.-wrap-copy{
    display:inline-block;
    max-width:600px;
    width:100%
}
.-wrap-index{
    padding-left:12vw;
    padding-right:12vw
}
.-wrap-static{
    display:inline-block;
    width:60vw
}
.-wrap-static--right{
    padding-right:6vw
}
.-wrap-static--left{
    padding-left:6vw
}
.-wrap--right{
    padding-right:6vw
}
.-wrap--left{
    padding-left:6vw
}
.-wrap-heading{
    max-width:700px
}
.-vtop{
    vertical-align:top
}
.-vbot{
    vertical-align:bottom
}
.-full{
    width:100%
}
.-tall{
    height:100%
}
.-block{
    display:block
}
.-skyclip{
    -webkit-clip-path:polygon(0 0, 100% 0, 70% 100%, 0 100%);
    clip-path:polygon(0 0, 100% 0, 70% 100%, 0 100%)
}
.-theme--dark{
    background: #000;
    color:#fff
}
.-theme--light{
    background-color:#fff;
    color:#000
}
.-square{
    padding-bottom:100%;
    width:100%
}
.-btn{
    cursor:pointer
}
.-cover{
    background-position:50% 50%;
    background-repeat:no-repeat;
    background-size:cover
}
.-cover--top{
    background-position:50% 0
}
.-cover--right{
    background-position:100% 50%
}
.-cover--bottom{
    background-position:50% 100%
}
.-cover--left{
    background-position:0 50%
}
.-text--center{
    text-align:center
}
.-text--right{
    text-align:right
}
.-text--left{
    text-align:left
}
.-dark{
    color:#000
}
.-light{
    color:#fff
}
.-grey{
    color:#959595
}
.-fzero{
    font-size:0
}
.-caps{
    text-transform:uppercase
}
.is-theme--light{
    background-color:#fff;
    color:#000
}
.is-theme--light .icon--list span{
    background-color:#333
}
.is-theme--light .icon--filter .glass{
    border-color:#333
}
.is-theme--light .icon--filter .handle{
    background-color:#333
}
.is-theme--light .icon--dir.icon--left{
    border-right-color:#333
}
.is-theme--light .icon--dir.icon--right{
    border-left-color:#333
}
.is-theme--light .icon--keys span{
    background-color:#333
}
.is-theme--light .icon--keys .left:after{
    border-right-color:#fff
}
.is-theme--light .icon--keys .right:after{
    border-left-color:#fff
}
.is-theme--light .icon--plus .vert,.is-theme--light .icon--plus .horz{
    background-color:#333
}
.is-theme--light .index__li{
    border-top-color:#eee
}
.is-theme--light .navi__a{
    color:#000
}
.is-theme--light .navi__a:after{
    background-color:#000
}
.is-theme--light .theme__spot.is-light{
    border:2px solid #333
}
.is-theme--light .theme__spot.is-dark{
    border:2px solid transparent
}
.is-theme--light .header__svg .svg{
    fill:#333
}
.is-theme--light .filter{
    background-color:rgba(249,249,249,0.95)
}
.is-theme--light .view--person .index__text{
    color:#fff
}
.is-theme--light .view--person .index__text a{
    border-bottom-color:#fff
}
.is-theme--light .view--person .icon--plus .vert,.is-theme--light .view--person .icon--plus .horz{
    background-color:#fff
}
.is-theme--light .index__text{
    color:#000
}
.is-theme--light .index__text a{
    border-bottom-color:#000
}
.is-home-page .header__svg{
    display:inline-block
}
.is-work-page .fourohfour,.is-play-page .fourohfour,.is-career-page .fourohfour{
    padding-top:calc( 160px + 40px)
}
.is-studio-page .theme{
    display:none
}
.is-play-page .filter__work{
    display:none
}
.is-play-page .filter__play{
    display:block
}
.is-career-page .main,.is-studio-page .main,.is-work-page.is-uid-page .main,.is-play-page.is-uid-page .main{
    padding-top:0
}
.is-play-page.is-uid-page .header__keys,.is-work-page.is-uid-page .header__keys{
    display:inline-block;
    transform:translateX(-100%)
}
.is-cover--feature .header__svg{
    display:inline-block
}
.is-navi-open .icon--list .top,.is-navi-open .icon--list .mid,.is-navi-open .icon--list .bot{
    opacity:0
}
.is-navi-open .icon--list .ex1,.is-navi-open .icon--list .ex2{
    opacity:1
}
.is-navi-open .icon--list .ex1{
    transform:rotate(-45deg)
}
.is-navi-open .icon--list .ex2{
    transform:rotate(45deg)
}
.is-navi-open .cms{
    opacity:0.2
}
.is-filter-open html,.is-filter-open body{
    overflow:hidden
}
.is-filter-open .header__utility{
    transform:translate3d(-250px, 0, 0)
}
.is-filter-open .header__svg,.is-filter-open .header__keys{
    display:none !important
}
.is-filter-open .filter{
    overflow-x:hidden;
    overflow-y:auto;
    transform:translate3d(0, 0, 0);
    -webkit-overflow-scrolling:touch
}
.is-filter-open .icon--filter .handle{
    transform:translate3d(200%, -50%, 0)
}
.is-filter-open .theme{
    opacity:0;
    pointer-events:none
}
.is-hoverable .navi__a:not(.is-active):hover:after{
    transform:translateX(-50%) translateY(100%)
}
.is-hoverable .a:hover,.is-hoverable .cms a:not([data-ignore-style="hover"]):hover{
    color:#907f53
}
.is-hoverable .filter__color:hover{
    transform:scale(1.2)
}
.is-hoverable .slices__map .map__marker .svg:hover{
    fill:#907f53
}
.is-hoverable .feature__li:hover{
    z-index:1003
}
.is-hoverable .feature__li:hover .index__text{
    opacity:1;
    transform:translate3d(0, 0, 0)
}
.is-hoverable .feature__li:hover .icon--plus{
    height:32px;
    width:32px
}
.is-hoverable .feature__li:hover .tile__photo{
    opacity:0.9
}
.is-hoverable .tileset__li:hover{
    z-index:2
}
.is-hoverable .tileset__li:hover .index__text{
    opacity:1;
    transform:translate3d(0, 0, 0)
}
.is-hoverable .tileset__li:hover .icon--plus{
    height:32px;
    width:32px
}
.is-hoverable .index__info a:hover{
    border-bottom-color:#907f53
}
.is-hoverable .view--person .person:hover{
    z-index:2
}
.is-hoverable .view--person .person:hover .portrait2,.is-hoverable .view--person .person:hover .description{
    opacity:1
}
.is-hoverable .view--person .person:hover .index__text{
    opacity:1;
    transform:translate3d(0, 0, 0)
}
.is-hoverable .view--person .person:hover .icon--plus{
    height:32px;
    width:32px
}
.is-touchable .header__keys{
    display:none !important
}
 @media only screen and (max-width: 1680px){
    .-wrap-index{
        padding-left:6vw;
        padding-right:6vw
    }
}
@media only screen and (max-width: 1440px){
    .video__play__btn{
        height:64px;
        width:64px
    }
    .video__play__btn__icon{
        width:16px
    }
}
@media only screen and (max-width: 1366px){
    .index__col+.index__col{
        padding-left:6vw
    }
    .p,.cms p,.li,.cms li{
        font-size:18px
    }
    .slices__parallax .parallax__cover{
        height:auto
    }
    .slices__parallax .parallax__image{
        padding-top:0;
        width:100%
    }
    .slices__parallax .parallax__background{
        display:none
    }
    .slices__parallax .parallax__transform{
        transform:none !important
    }
    .slices__parallax .parallax__copy{
        transform:none;
        padding-bottom:160px;
        padding-top:80px
    }
    .slices__parallax .parallax__leadin{
        width:100%
    }
    .reader__li--feature .reader__title{
        position:absolute;
        top:50%;
        transform:translateY(-50%)
    }
    .reader__li--feature .reader__body,.reader__li--feature .reader__body__wrap{
        position:relative;
        width:100%
    }
    .reader__li--feature .reader__body__wrap{
        transform:none
    }
    .person{
        width:33.33333%
    }
}
@media only screen and (max-width: 1024px){
    .h1,.cms h1{
        letter-spacing:normal
    }
    .index__image{
        width:40%
    }
    .index__title{
        width:60%
    }
    .index__categories{
        display:none
    }
    .index__col+.index__col{
        padding-left:12vw
    }
    .project--standard .project__info{
        padding-bottom:80px;
        padding-top:160px;
        position:relative;
        width:100%
    }
    .project--standard .project__info .cms{
        max-width:600px
    }
    .project--standard .project__info .cms--meta,.project--standard .project__info .cms--paging{
        display:none
    }
    .project--standard .project__body{
        width:100%
    }
    .project__body--blog{
        padding-top:160px
    }
    .reader__li--standard .reader__info{
        padding-bottom:80px;
        position:relative;
        width:100%
    }
    .reader__li--standard .reader__body{
        padding:0;
        width:100%
    }
    .-wrap-media:not([data-ignore-style="nopad"]){
        padding:0;
        width:100%
    }
    .slices__text .-wrap-static{
        padding-left:6vw;
        padding-right:6vw;
        display:inline-block;
        max-width:600px;
        width:100%
    }
    .section{
        padding-bottom:80px;
        padding-top:80px
    }
    .section__label,.section__content{
        width:100%
    }
    .section__content{
        padding-left:6vw;
        padding-right:6vw;
        padding-top:40px
    }
    .view--career .career{
        padding-right:6vw;
        width:100%
    }
    .newbiz{
        text-align:left
    }
}

@media only screen and (max-width: 950px) {
    .package-builder-header>div {
        margin: 10px auto;
        width: 280px;
    }
}
@media only screen and (max-width: 768px){
    .header,.theme,.filter__label{
        height:100px
    }
    .main{
        padding-top:100px
    }
    .project--standard .project__info{
        padding-bottom:80px
    }
    .project__body{
        padding-bottom:40px
    }
    .index__li{
        padding-bottom:20px;
        padding-top:20px
    }
    .index__title .p:nth-child(2),.index__title .p:nth-child(3){
        display:none
    }
    .navi__li--primary .navi__a{
        font-size:12vh
    }
    .navi__li--primary .navi__a:after{
        height:6px
    }
    .navi.is-active .navi__a.is-active:after{
        top:calc( 58% - 6px)
    }
    .slices__diptych .-column,.slices__textImage .-column{
        display:block;
        width:100%
    }
    .slices__diptych .-column+.-column,.slices__textImage .-column+.-column{
        margin-top:40px
    }
    .slices__diptych .-column:last-child,.slices__diptych .-column:first-child,.slices__textImage .-column:last-child,.slices__textImage .-column:first-child{
        padding-left:0;
        padding-right:0
    }
    .project--feature .slices__slice:not(.slices__parallax){
        padding-bottom:20px;
        padding-top:20px
    }
}
@media only screen and (max-width: 640px){

    .unit-gif-container {
        margin: 10px 0;
    }

    .-section-header-font-size{
        font-size: 18px;
    }

    .p,.cms p,.li,.cms li{
        font-size:16px
    }
    .cms.p--meta p{
        font-size:14px
    }
    .h1,.cms h1{
        font-size:16vw
    }
    .h2,.cms h2,.h3,.cms h3,.h4,.cms h4{
        font-size:20px
    }
    .filter__color{
        height:16px;
        margin-top:5px;
        width:16px
    }
    .filter__color+.filter__color{
        margin-left:5px
    }
    .filter__col+.filter__col{
        padding-top:20px
    }
    .grid{
        column-count:2;
        column-gap:4px;
        padding:0
    }
    .grid__item{
        margin-bottom:4px;
        padding:0;
        width:100%
    }
    .feature__li+.feature__li{
        margin-top:-20px
    }
    .animate-lift{
        transform:translate3d(0, 80px, 0)
    }
    .paging{
        display:none
    }
    .person{
        width:50%
    }
    .slices__map .map__marker{
        width:120px
    }
    .slices__parallax .parallax__copy{
        padding-bottom:40px
    }
    .slices__parallax .parallax__info{
        margin-top:40px
    }
    .slices__parallax .parallax__info p{
        font-size:16px
    }
    .-exp-1,.-exp-2{
        padding-bottom:40px;
        padding-top:40px
    }
    .slices__diptych .-column+.-column{
        margin-top:20px
    }
    .view--person{
        margin-left:-10px;
        margin-right:-10px
    }
    .person{
        margin-bottom:20px;
        padding-left:10px;
        padding-right:10px
    }
    .index__info{
        display:none
    }

    .about-us {
        margin: auto;
        font-size: 12px;
    }
}
@media only screen and (min-width: 1800px){
    .project--standard .project__info{
        width:900px
    }
    .project--standard .project__body{
        width:calc( 100vw - 900px)
    }
    .reader__li--standard .reader__info{
        width:900px
    }
    .reader__li--standard .reader__body{
        width:calc( 100% - 900px)
    }
}
@media only screen and (min-width: 1920px){
    .slices__parallax .parallax__copy{
        transform:translateY(-22vw)
    }
}
@media only screen and (min-width: 1680px){
    .grid__item{
        width:25%
    }
    .-wrap-media{
        padding-left:12vw;
        padding-right:12vw
    }
    .-wrap-static--right{
        padding-right:12vw
    }
    .-wrap-static--left{
        padding-left:12vw
    }
}
@media only screen and (min-width: 1680px){
    .grid__item{
        width:25%
    }
}
@media only screen and (min-width: 600px){
    .-wrap-copy{
        max-width:600px
    }
}

@media only screen and (max-width: 950px){
    .flex-card-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .package-builder-start-container {
        padding: 40px 0;
    }
}

@media only screen and (max-width: 400px){
    .xl-font {
        font-size: 32px;
    }
}

@media only screen and (max-width: 1400px){
    .our-work-gif-container {
        max-width: 980px;
    }
}
 