.about-us{
    margin: auto;
    line-height: 22px;
    max-width: 600px;
}

.about-us-container {
    text-align: justify;
    text-justify: inter-word;
}

.about-us p {
    text-align: center;
    padding-top: 20px;
}

.unit-gif-container{
    display: inline-block;
    width: 300px;
    margin: 10px 20px;
}

.gif-image{
    width: 100%;
}

.section-gifs{
    margin: 6vw;
    text-align: center;
}