.order-dialog-header{
    display: flex;
    justify-content: space-between;
}

.order-dialog-heading{
    margin: 0 0 15px 0;
}

.order-table{
    width: 100%;
    font-family:"FFMarkPro",Helvetica !important;
    margin: 32px 0;
}

.price-cell{
    text-align: right;
}

.total-container{
    font-size: 32px;
    padding: 12px 24px;
    text-align: right;
    width: 100%;
}

.button-container{
    margin: 10px 0;
}

.-lulo{
    font-family:"LuloClean",Helvetica;
    font-stretch:normal;
    font-style:normal
  }

  .small-button {
    background-color: black; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 8px;
  }

  .small-button:hover {
    background-color: rgb(20, 20, 20); 
    cursor: pointer;
  }

  .name-and-email-container {
      display: flex;
  }


  @media only screen and (max-width: 500px){
    .button-container{
        width: 100%;
    }

    .small-button {
        width: 100%;
    }

  }

  @media only screen and (max-width: 768px){
    .name-and-email-container {
        display: inherit;
    }
  }